@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('./Components/common/Loader/Loader.scss');
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  font-weight: 400;
  color: #212121;
  background-color:bisque;
  height: 100%;
  font-synthesis: none;
  
}
// body{

//   height: 100%;
// }

